<h2> Oh no! It seems you've reached the end the of the gallery. </h2>
<p>
	Perhaps you'd like to <%= link_to 'add a new photo', new_post_path %> or <%= link_to 'browse from the beginning', posts_path %>
</p>