// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: black;
}

.container {
	position: relative;
	max-width: 850px;
	min-width: 450px;
	margin: 0 auto;
	text-align: center;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.7);
}

.error-text {
	color: red;
}

.error-text:before {
	content: '* ';
}

/* Navigation Button Styles */
.nav-button {
	color: black;
}

.nav-button:hover {
	color: white;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
	left: 7px;
}

.right {
	right: 7px;
}